<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro Aluno</title>
</head>


<body>

<h1>Cadastro de Aluno</h1>


<form method="post">

    {% csrf_token %}


    <label>Nome:</label><br>
    <input type="text" name="nome"><br><br>


    <label>Email:</label><br>
    <input type="email" name="email"><br><br>


    <label>Telefone:</label><br>
    <input type="tel" name="telefone"><br><br>


    <label>RA:</label><br>
    <input type="text" name="ra"><br><br>


    <label>Turma:</label><br>
    <input type="text" name="turma"><br><br>


    <label>Senha:</label><br>
    <input type="password" name="senha"><br><br>


    <button type="submit">
        Cadastrar Aluno
    </button>


</form>


</body>
</html>